@model HortasIndoor.Core.ViewModels.GalleryViewModel;

<div>
    <div class="row">
        <div class="col-3">
            @if (Model.Avatar != null)
            {
                <div class="m-auto">
                    <img src=@String.Format("data:image;base64,{0}",Convert.ToBase64String(Model.Avatar)) alt="Avatar" width="150" height="150">
                </div>
            }
            <p class="text-secondary fs-6 mb-0">Username</p>
            <p class="fs-5">@Model.UserName</p>
            <p class="text-secondary fs-6 mb-0">E-Mail</p>
            <p class="fs-5">@Model.Email</p>
            @if (!String.IsNullOrEmpty(Model.Localizacao))
            {
                <p class="text-secondary fs-6 mb-0">Localização</p>
                <p class="fs-5">@Model.Localizacao</p>
            }
            <hr />
            <div class="d-flex flex-column">
                <a href="/Gallery">Galeria</a>
                <a href="/Profile/Edit">Editar perfil</a>
                <a href="/Post/New">Novo post</a>
            </div>
        </div>
        <div class="col-6">
            @Html.ActionLink(
            "Deletar Foto",
            "DeletePhoto",
            "Gallery",
            new { id = Model.Photos.First().Id},
            new { @class="btn btn-danger", onclick = "return confirm('Deseja realmente deletar esta foto?')" }
            )


            <div class="container">
                <div class="col text-center">
                    <h4>@Model.Photos.First().Description</h4>
                    <img src=@String.Format("data:image;base64,{0}", Model.Photos.First().Bytes) alt="picture" style="max-height:500px;" />
                </div>
            </div>

        </div>
    </div>
</div>
